<form method="post" action="{{ path('app_reserva_amarra_delete', {'id': reserva_amarra.id}) }}" onsubmit="return confirm('¿Seguro que quieres eliminar esta reserva?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reserva_amarra.id) }}">
    <button class="btn btn-3">Cancelar</button>
</form>
