{% extends 'base.html.twig' %}

{% block title %}Edit PublicacionAmarra{% endblock %}

{% block body %}
    <h1>Edit PublicacionAmarra</h1>

    {{ include('publicacion_amarra/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_publicacion_amarra_index') }}">back to list</a>

    {{ include('publicacion_amarra/_delete_form.html.twig') }}
{% endblock %}
