{% extends 'base.html.twig' %}

{% block title %}New PublicacionAmarra{% endblock %}

{% block body %}
    <h1>Create new PublicacionAmarra</h1>

    {{ include('publicacion_amarra/_form.html.twig') }}

    <a href="{{ path('app_publicacion_amarra_index') }}">back to list</a>
{% endblock %}
