{% extends 'base.html.twig' %}

{% block body %}
    <div class="centered-form text-center"> 
        <h3>¡Oops! Ocurrio un error</h3>
        <p>
           Intenta mas tarde.
        </p>
        <a href="{{ path('app_home_page') }}" class="btn btn-secondary">Volver al inicio</a>
    </div>
{% endblock %}

