{% extends 'base.html.twig' %}

{% block body %}
    <div class="centered-form text-center"> 
        <h1>¡Oops! Página no encontrada</h1>
        <p>
            Parece que la página que estás buscando no existe o ha sido movida.
        </p>
        <a href="{{ path('app_home_page') }}" class="btn btn-secondary">Volver al inicio</a>
    </div>
{% endblock %}

