{% extends 'base.html.twig' %}


{% block body %}
    <h1>Parece que la pagina no existe</h1>

    <p>
       No pudimos localizar la pagina que buscas. <a href="{{ path('app_home_page') }}">Volver al incio</a>.
    </p>
{% endblock %}
