<form method="post" action="{{ path('app_bien_delete', {'id': bien.id}) }}" onsubmit="return confirm('¿Estas seguro que quieres borrar este bien?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bien.id) }}">
    <button class="btn btn-3">Eliminar bien</button>
</form>
