{% extends 'base.html.twig' %}

{% block body %}

    {% for publicacion in publicaciones %}
    <div class="publicacion_container">
        <h1></h1>
        <p>{{publicacion.descripcion}}</p>
    </div>
    {% endfor %}

    

    
{% endblock %}
